.root {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 330px;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }
  
  .About {
    position: absolute;
    inset: 22px auto auto 25px;
    width: 33px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .Library {
    position: absolute;
    inset: 22px auto auto 88px;
    width: 35px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .BestSeller {
    position: absolute;
    inset: 22px auto auto 155px;
    width: 55px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .Contact {
    position: absolute;
    inset: 22px auto auto 466px;
    width: 43px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .GetHelp {
    position: absolute;
    inset: 22px auto auto 530px;
    width: 47px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .title {
    position: absolute;
    inset: 78px auto auto 126px;
    width: 361px;
    height: 29px;
    min-height: 29px;
    font: 700 24px/1.2 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(29 43 92);
  }
  
  .color {
    position: absolute;
    inset: 127px 326px 182px 220px;
    width: 67px;
    height: 21px;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    outline: 1px solid rgb(200 56 56);
    outline-offset: -1px;
  }
  
  .button {
    position: absolute;
    inset: 130px auto auto 239px;
    width: 31px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(200 56 56);
  }
  
  .color1 {
    position: absolute;
    inset: 127px 233px 182px 313px;
    width: 67px;
    height: 21px;
    background-color: rgb(200 56 56);
    border-radius: 5px;
  }
  
  .button2 {
    position: absolute;
    inset: 130px auto auto 327px;
    width: 46px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }
  
  .image {
    position: absolute;
    inset: 183px 135px 19px;
    width: 343px;
    height: 128px;
  }
  
  .info5 {
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .info5_box {
    position: absolute;
    inset: 22px auto auto 389px;
    width: 69px;
    height: 14px;
  }
  
  .info5_span0 {
    font: 1em/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(200 56 56);
  }
  
  .info5_span1 {
    font: 1em/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(28 42 91);
  }
  
  .Home {
    position: absolute;
    inset: 22px auto auto 236px;
    width: 33px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(200 56 56);
  }

  .Library {
    &.root {
      position: relative;
      width: 613px;
      height: 330px;
      min-height: 330px;
      background-color: rgb(255 255 255);
      overflow: hidden;
    }
  
    .info {
      position: absolute;
      inset: 12px auto auto 38px;
      width: 33px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info1 {
      position: absolute;
      inset: 12px auto auto 102px;
      width: 35px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(200 56 56);
    }
  
    .info2 {
      position: absolute;
      inset: 10px auto auto 176px;
      width: 55px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info3 {
      position: absolute;
      inset: 10px auto auto 452px;
      width: 43px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info4 {
      position: absolute;
      inset: 10px auto auto 522px;
      width: 47px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .color {
      position: absolute;
      inset: 44px 482px 161px 14px;
      width: 117px;
      height: 125px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color1 {
      position: absolute;
      inset: 44px 326px 161px 170px;
      width: 117px;
      height: 125px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color11 {
      position: absolute;
      inset: 44px 172px 166px 324px;
      width: 117px;
      height: 120px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color12 {
      position: absolute;
      inset: 44px 19px 166px 477px;
      width: 117px;
      height: 120px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color2 {
      position: absolute;
      inset: 193px 482px 9px 14px;
      width: 117px;
      height: 128px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color21 {
      position: absolute;
      inset: 193px 326px 9px 170px;
      width: 117px;
      height: 128px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color3 {
      position: absolute;
      inset: 190px 171px 9px 325px;
      width: 117px;
      height: 131px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .color4 {
      position: absolute;
      inset: 188px 20px 9px 476px;
      width: 117px;
      height: 133px;
      background-color: rgb(255 255 255);
      border-radius: 20px;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
    }
  
    .image {
      position: absolute;
      inset: 51px 357px 199px 202px;
      width: 54px;
      height: 80px;
      filter: drop-shadow(0 1px 3px rgb(0 0 0 / 30%));
    }
  
    .image1 {
      position: absolute;
      inset: 51px 512px 199px 45px;
      width: 56px;
      height: 80px;
      filter: drop-shadow(0 1px 3px rgb(0 0 0 / 30%));
    }
  
    .info5 {
      position: absolute;
      inset: 11px auto auto 257px;
      width: 33px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .image2 {
      position: absolute;
      inset: 51px 203px 202px 354px;
      width: 56px;
      height: 77px;
      filter: drop-shadow(0 1px 3px rgb(0 0 0 / 30%));
    }
  
    .info6_box {
      position: absolute;
      inset: 10px auto auto 375px;
      width: 69px;
      height: 14px;
    }
  
    .info6 {
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info6_span0 {
      font: 1em/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(200 56 56);
    }
  
    .info6_span1 {
      font: 1em/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(28 42 91);
    }
  
    .image3 {
      position: absolute;
      inset: 188px 491px 42px 24px;
      width: 98px;
      height: 100px;
    }
  
    .info7 {
      position: absolute;
      inset: 131px auto auto 344px;
      width: 77px;
      height: 42px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info8 {
      position: absolute;
      inset: 136px auto auto 194px;
      width: 77px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
      letter-spacing: -2.41px;
    }
  
    .info9 {
      position: absolute;
      inset: 137px auto auto 49px;
      width: 73px;
      height: 28px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info10 {
      position: absolute;
      inset: 141px auto auto 504px;
      width: 70px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .info11 {
      position: absolute;
      inset: 288px auto auto 40px;
      width: 77px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
      letter-spacing: -0.1px;
    }
  
    .image4 {
      position: absolute;
      inset: 194px 346px 49px 191px;
      width: 76px;
      height: 87px;
    }
  
    .info12 {
      position: absolute;
      inset: 284px auto auto 194px;
      width: 77px;
      height: 42px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .image5 {
      position: absolute;
      inset: 193px 200px 49px 350px;
      width: 63px;
      height: 88px;
    }
  
    .info13 {
      position: absolute;
      inset: 287px auto auto 350px;
      width: 139px;
      height: 14px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .image6 {
      position: absolute;
      inset: 189px 46px 37px 501px;
      width: 66px;
      height: 104px;
    }
  
    .info14 {
      position: absolute;
      inset: 293px auto auto 495px;
      width: 77px;
      height: 28px;
      font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
      color: rgb(0 0 0);
    }
  
    .image7 {
      position: absolute;
      inset: 45px 41px 193px 501px;
      width: 71px;
      height: 92px;
    }
  }
  