.root {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 330px;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }
  
  .About {
    position: absolute;
    inset: 22px auto auto 25px;
    width: 33px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .Library {
    position: absolute;
    inset: 22px auto auto 88px;
    width: 35px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .BestSeller {
    position: absolute;
    inset: 22px auto auto 155px;
    width: 55px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .Contact {
    position: absolute;
    inset: 22px auto auto 466px;
    width: 43px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .GetHelp {
    position: absolute;
    inset: 22px auto auto 530px;
    width: 47px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .title {
    position: absolute;
    inset: 78px auto auto 126px;
    width: 361px;
    height: 29px;
    min-height: 29px;
    font: 700 24px/1.2 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(29 43 92);
  }
  
  .color {
    position: absolute;
    inset: 127px 326px 182px 220px;
    width: 67px;
    height: 21px;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    outline: 1px solid rgb(200 56 56);
    outline-offset: -1px;
  }
  
  .button {
    position: absolute;
    inset: 130px auto auto 239px;
    width: 31px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(200 56 56);
  }
  
  .color1 {
    position: absolute;
    inset: 127px 233px 182px 313px;
    width: 67px;
    height: 21px;
    background-color: rgb(200 56 56);
    border-radius: 5px;
  }
  
  .button2 {
    position: absolute;
    inset: 130px auto auto 327px;
    width: 46px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }
  
  .image {
    position: absolute;
    inset: 183px 135px 19px;
    width: 343px;
    height: 128px;
  }
  
  .info5 {
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(0 0 0);
  }
  
  .info5_box {
    position: absolute;
    inset: 22px auto auto 389px;
    width: 69px;
    height: 14px;
  }
  
  .info5_span0 {
    font: 1em/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(200 56 56);
  }
  
  .info5_span1 {
    font: 1em/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(28 42 91);
  }
  
  .Home {
    position: absolute;
    inset: 22px auto auto 236px;
    width: 33px;
    height: 14px;
    font: 400 12px/1.16 "Inria Serif", Helvetica, Arial, serif;
    color: rgb(200 56 56);
  }
